:root {
  --bg: #111B2D;

  --card: #162338;
  --surface: #1c2a44;

  --text: #e6edf3;
  --muted: #8fa3bf;

  --cyan: #63E3D4;
  --pink: #E21270;
  --yellow: #FFFB1F;
  --orange: #FF8547;
  --purple: #52489C;

  --border: #2b3a55;

  --radius: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}